/*.framer {
  border: 1px solid red;
  margin: auto;
  width: 65%;
}*/

html {
  width: 900px;
  border: 1px solid #5d4b4b;
  margin: auto;
  position: relative;
}

img {
  width: 200px;
  height: 200px;
}

#new-chart {
  display: block;
  height: 420px;
}
